div{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 30px;
}

.container{
    border-color: black;
    width: 100%;
}

.purple{
    color: red;
}

.active{
    color: blue;
}

.green{
    color:green
}
.row{
    border-color: #245269;
}
.text-center {
    text-transform: uppercase;
    font-size: 36px;
    font-style: oblique;
}
/*.container-fluid{
    height: 100vh;
}*/

#pro{
    .textwrap{
        float:left;
        margin: 10px;
    }
}
/*.container{
    height:100vh;
    width: 100%;
}*/
body{
    background-image:url('http://www.carpictures.com/pics/640/12IDL31022504314/Mercedes-Benz-G500-Custom-2003-12IDL31022504314.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-weight: bold;
    text-decoration-color: black
}
id{
   
}